html{
    font-family: Cosolas, Arial;
    font-size: clamp(10px,1.5vw,13px);
}
*, :after, :before {
    box-sizing: border-box;
}
body{
    background: #f7f9fc;
    margin:0;
    
}

.sidebar{
    background: #2D6BCF;
}

.wrapper{
    align-items: stretch;
    display: flex;
    width: 100%;
}

.sidebar{
    direction: ltr;
    max-width: 260px;
    min-width: 260px;
}

.sidebar_head{
    color: white;
    font-weight: bold;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    font-size: 1.3rem;
}

.dark h4{
    color: rgba(255,255,255,0.5);
    font-size: 0.9rem;
    letter-spacing: 0.5;
}

.sidebar-inner{
    height: 100vh;
}

.nav-li-a{
    display: block;
    color:#ced4da;
    padding: 0.5em 1.5em;
    text-decoration: none;
}

.nav-li{
    list-style-type: none;
}

.nav-li > a:hover {
    color: white;
}

.global_head{
    height: 4rem;
    display: flex;
    align-items: center;
}
.global_head > *{
    width: 100%;
}

.topbar{
    background: white;
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%);    
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
    width: 100%;
}

.content-inner{
    padding: 2.8rem 3.0rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #495057;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.h3, h3 {
    font-size: 1.65rem;
    margin-bottom:1.5rem;
}



.fs-1{
    font-size: 0.9rem;
    opacity: 0.7;
}

.pdh{
    padding-left: 2rem;
    padding-right: 2rem;
}

.card{
    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
    margin-bottom: 24px;
    background: white;
    padding: 1rem;
    border-radius: 0.25rem;
}

*{
    box-sizing: border-box;
}

.table{
    border-collapse: collapse;
}

.table td{
    color: #6c757d;
    padding: 0.75em 1.5em;
    font-size: 0.9em;
}

.table-striped tr td{
    background: white;
    margin:0;
}

.table-striped tbody tr:nth-of-type(odd) td{
    
    background-color: #f4f7f8;
}

.table thead td{
    font-weight: 600;
}

td.action a{
    color: #6c757d;
    cursor: pointer;
}

td.action a:hover{
    color: #212529;
}

td.action a svg{
    height: 1em;
}

tbody tr {
    border-color:#dee6ed;
    border-top: 1px solid #dee6ed;
    border-bottom: 1px solid #dee6ed;
}

.messages{
    margin: 2em 0 0 0;
    max-height: 800px;
    overflow-y: scroll;
}

.message{
    width: 70%;
    float: left;
    background: #EFF2F6;
    font-size: 0.9em;
    padding: 1em 2em;
    margin: 0.5em 0;
    color: #6c757d;
    line-height: 1.4;
    border-radius: 0.2em;
}

.message.me{
    width: 70%;
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.message_info_author{
    font-weight: 600;
}

.message_info_date{
    display: none;
}

.message_form{
    margin-top: 2rem;
}

.message_form img{
    height: 8rem;
}

.button{
    background: #3F80EA;
    color: white;
    border-radius: 0.2em;
    padding: 0.5em 1em;
    cursor: pointer;
    border: 0px;
    margin-top: 1rem;
}

textarea,input[type=text]{
    border: 1px solid #CED4DA;
    border-radius: 0.2em;
    padding: 1em 2em;
}

.nerrow{
    width: clamp(300px,50%,900px);
}

.formline{
    padding: 1em 0;
}

.hide{
    display: none;
}

ul.navul{
    margin-left: 0;
    padding-left: 20px;
}

